/NetBeans/mi_aplicacion/nbproject/private/
/NetBeans/JavaApplication3/nbproject/private/
/NetBeans/JavaApplication3/build/
/NetBeans/EscuelaDigital/nbproject/private/
/NetBeans/Clase2Java/nbproject/private/
/NetBeans/Clase2Java/build/
/NetBeans/clase3JAVA/nbproject/private/
/NetBeans/clase3JAVA/build/
/NetBeans/paginaWeb/target/
/NetBeans/pagWeb/target/
/NetBeans/mavenproject1/target/
/NetBeans/tpJava1/nbproject/private/
/NetBeans/tpJava1/build/
/NetBeans/JavaApplication2/nbproject/private/
/NetBeans/JavaApplication2/build/
/NetBeans/webPag/target/
/NetBeans/baseDatos/target/
/NetBeans/escuelaDigital/nbproject/
/NetBeans/escuelaDigital/target/
